# Environment variables for apps/admin
NODE_ENV=development
PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_NAME="Gypsym Workstation"
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001
